#headbanner {
    background-image: url(https://coverfiles.alphacoders.com/738/73830.jpg);
}
main {
    background-image: url(https://img2.akspic.ru/originals/5/6/8/1/5/151865-kinovselennaya_marvel-kapitan_amerika-ostov-tanos-mstiteli-1920x1080.jpg);
}
album {
    background-image: url(https://img2.akspic.ru/originals/5/6/8/1/5/151865-kinovselennaya_marvel-kapitan_amerika-ostov-tanos-mstiteli-1920x1080.jpg);
}
    #testtest { 
        background-image: url(https://img2.akspic.ru/originals/5/6/8/1/5/151865-kinovselennaya_marvel-kapitan_amerika-ostov-tanos-mstiteli-1920x1080.jpg); 

    } 
